<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
        <style type="text/css">
            .ui.fixed.menu.top_menu{
                box-sizing: border-box;
                background: url("{% static 'img/star_banner.jpg' %}");
                border:0;
                height:35px;
            }
            body{
                background: url('{% static 'img/star_banner.jpg' %}');
                background-size: auto;
                background-repeat:no-repeat;
                background-attachment:fixed
            }
            .ui.raised.container.segments{
                margin-top: 80px;
            }
            .ui.butt.segment {
                height:auto;
            }

            form {
                position: absolute;left: 50%;
                transform: translate(-50%,0);
                width:450px;
            }

            .ui.circular.image.cover{
                position: absolute;left: 50%;top: 50%;
                transform: translate(-50%,-50%);
                height: 100px;
                width: 100px;

            }


        </style>

    </head>
    <body>
        <div class="ui fixed menu top_menu">
            <div class="item weather" style="background-color: #272829">
              <a href="http://www.weather.com.cn/weather/101010100.shtml"><h4 class="ui inverted header">北京 晴 -5°/6°</h4></a>
            </div>
            <a class="item title" href="{% url 'index'%}">
              <h2 class="ui center aligned inverted header">基于web的个性化新闻推荐系统</h2>
            </a>
            <div class="right menu">
                {% if request.user.is_authenticated %}
                <div class="item">
                    <h5 class="ui inverted header">
                        <a class="ui avatar image" href="{% url 'information' request.user.username %}">
                            {% if login_user.avatar %}
                                <img src="/upload/{{ login_user.avatar }}" alt="头像加载失败" />
                            {% else %}
                                <img src="{% static 'img/avatar_1.png' %}" alt="头像加载失败" />
                            {% endif %}
                        </a>
                        {% if login_user.nickname %}
                            <a style="color: white" href="{% url 'information' request.user.username %}">{{ login_user.nickname }}</a>
                        {% else %}
                            <a style="color: white" href="{% url 'information' request.user.username %}">{{ request.user.username }}</a>
                        {% endif %}
                    </h5>
                </div>
                <div class="item">
                    <a href="{% url 'logout' %}" class="ui inverted circular button"><i class="sign out icon"></i>注销</a>
                </div>

                {% else %}

                    <div class="item">
                        <div class="ui buttons">
                            <a href="{% url 'login' %}" class="ui inverted button"><i class="sign in icon"></i>登录</a>
                            <div class="or"></div>
                            <a href="{% url 'register' %}" class="ui inverted button"><i class="write icon"></i>注册</a>
                        </div>
                    </div>
                {% endif %}
                <div class="item" id="feedback">
                  <a href="#"><h4 class="ui inverted header feedback">反馈</h4></a>
                </div>
                <div class="item" id="more">
                  <a href=""><h4 class="ui inverted header more">更多</h4></a>
                </div>
          </div>
        </div>
        <div class="ui  raised container segments">
            <div class="ui head basic segment" style="height: 150px;width: 100%;">
                <div class="ui circular image cover">
                    {% if login_user.avatar %}
                        <img src="/upload/{{ login_user.avatar }}" alt="头像加载失败" style="width: 100px;height: 100px;"/>
                    {% else %}
                        <img src="{% static 'img/avatar_1.png' %}" alt="头像加载失败" style="width: 100px;height: 100px;"/>
                    {% endif %}
                </div>
            </div>
            <div class="ui bottom inverted  six item attached menu">

                <div class="active item">
                    个人资料
                </div>
                <a class="item" href="{% url 'collection' request.user.username%}">
                    我赞过的
                </a>
        </div>

            <div class="ui butt segment">
                <div class="ui basic very padded segment container info">
                    <form enctype="multipart/form-data" class="ui form" method="post">

                        {{ form.as_p }}
                        {% csrf_token %}
                        <button class="ui right floated button" type="submit" style="background-color: #272829;color: white;">修改资料</button>
                    </form>
                </div>

            </div>
        </div>
      <div class="ui vertical basic inverted very padded segment">
            <div class="ui grid">

                <div class="four wide column">
                    <div class="ui image">
                        <img src="" alt="">
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted vertical text menu">
                        <h3 class="item header" style="color:#ffffff;">信息</h3>
                        <a class="item" href="#">关于我们</a>
                        <a class="item" href="#" >联系我们</a>
                        <a class="item" href="#" >blog</a>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui inverted vertical text menu">
                       <h3 class="item header" style="color:#ffffff;" >社交网络</h3>
                        <a class="item" href="#" ><i class="weibo icon"></i>新浪微博</a>
                        <a class="item" href="#" ><i class="mail icon"></i>电子邮件</a>
                        <a class="item" href="#" ><i class="github icon"></i>github</a>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui vertical text menu">
                        <p>DESIGN BY</p>
                        <h2 class="ui header"><a href="#" style="color: #e2e2e2 ">zhangbohang</a></h2>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>
